{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat qui rerum corporis hic vel culpa ea natus itaque non illum incidunt minima impedit quasi tenetur maiores accusantium velit sed voluptate assumenda, facere, quas dolorem! Minus illo quidem odit ducimus unde beatae, reiciendis ipsum fugiat? Unde hic vero quis illum maiores, magni eius molestiae explicabo ratione quo, eaque magnam corrupti repellat odio inventore nemo cumque dolorem eos at alias sequi optio est. Natus exercitationem, laboriosam saepe, et labore odio perspiciatis consectetur, tempore omnis tenetur necessitatibus sit eos atque. Provident labore minus culpa fuga qui, ad dolor fugit, libero, numquam perferendis dignissimos.</p>

        <div class="text-center">
            <a class="btn btn-dark" href="/signin">
                Sigin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}